@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

html {
    margin: 0;
    overflow: hidden;
    font-family: 'Sawarabi Mincho', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}

header {
    background-color: rgba(0, 0, 0, 0.777);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    z-index: 10;
    color: rgb(177, 177, 177);
}

.header-left {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    float: left;
}

.header-left a {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.header-left  a img{
    display: block;
    width: 100%;
}

.header-right {
    height: 100%;
    width: 40%;
    margin-right: 3%;
    float: right;
}

.header-right div{
    display: block;
    height: 100%;
    width: calc(100% / 5);
    float: left;
    margin: auto 0;
    position: relative;
}

.header-right div a{
    text-decoration: none;
    color: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: min(1.5vw, 3vh);
}

#body {
    position: absolute;
    top: 0;
    left: 0vw;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.top-image{
    width: 100%;
    height: 100vh;
    position: relative;
}

.top-image img{
    width: 100vw;
    height: 100vh;
}

.top-images{
    position: absolute;
    top: 0;
    left: 0vw;
    height: 100vh;
    width: 100vw;
}

#top-image-apparel{
    display: block;
}

#top-image-snap,
#top-image-men,
#top-image-women,
#top-image-contact{
    display: none;
}

.top-images-title{
    position: absolute;
    top: 39%;
    left: 8%;
    width: 84vw;
    height: 30vh;
    border-top: thick solid #fffbfb;
    border-right: thick solid #fffbfb;
    border-bottom: thick solid #fffbfb;
    border-left: thick solid #fffbfb;
    text-align: center;
    font-size: 10vw;
    background-color: rgba(0, 0, 0, 0.382);
}

.top-images-title a{
    text-decoration: none;
        color: #fffbfb;
}


#garalley{
    position: absolute;
    top: 8vh;
    left: 10vw;
    height: 92vh;
    width: 80vw;
    z-index: 5;
    overflow-y: scroll;
    scrollbar-width: none;
}

#garalley ul {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#garalley ul li {
    margin: 0;
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

#garalley ul li div {
    position: relative;
}

#garalley ul li div img {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-b;
}

#garalley ul li div div{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: max(10%, 5vh);
    background-color: rgba(18, 18, 18, 0.382);
    text-align: center;
    color: #fffbfb;
    font-size: min(1vw, 30px);
    display: none;
}


#apparel{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    
}

#apparel img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}